<section class="content-fluid">
  <div class="row">

    <div class="col-md-3">
      <div class="box">
        <h3>
          <small>Filtros</small>
        </h3>
        <div class="margenArriba">
          <div class="input-group">
            <input type="text" class="form-control input-sm" [style]="{width: '100%'}" placeholder="Nombre Hotel" [(ngModel)]="hotelesFiltrados"
              name="hotelesFiltrados">
            <span class="input-group-addon" id="basic-addon2">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </div>
        <div class="form-check" *ngFor="let filtro of filtroEstrellasConst">
          <label *ngIf="filtro.numero === 0" class="form-check-label color-negro">
            <input type="checkbox" [checked]="filtro.seleccionado" class="form-check-input" (click)="traerTodo()"> Todas las estrellas
          </label>
          <label *ngIf="filtro.numero !== 0" class="form-check-label">
            <input type="checkbox" class="form-check-input" (click)="modificarFiltrosXEstrellas(filtro)" [checked]="filtro.seleccionado">
            <i *ngFor="let dummy of ' '.repeat(filtro.numero).split(''), let x = index" class="fa fa-star" style="color:gold"></i>
          </label>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row" *ngFor="let hotel of hoteles | filtroHoteles:hotelesFiltrados:filtrosPorEstrella">
        <div class="col-md-8 card mr-1 mt-1">
          <div class="row">
            <div class="col-sm-7">
              <div>
                <img class="card-img-top img-fluid margenImagen" [src]="'assets/images/hotels/'+hotel.image" width="350px" height="150px">
              </div>
              <div *ngIf="hotel._id">
                <img class="card-img-top img-fluid margenImagen" [src]="'http://165.227.92.20/api/hotel/image/'+hotel.image" width="350px"
                  height="150px">
              </div>
            </div>
            <div class="col-sm-5">
              <div class="margenArriba">
                <label class="azul">{{hotel.name}}</label>
              </div>
              <div>
                <div>
                  <i *ngFor="let dummy of ' '.repeat(hotel.stars).split(''), let x = index" class="fa fa-star" style="color:gold"></i>
                </div>
              </div>
              <div>
                <div>
                  <img *ngFor="let comodidad of hotel.amenities; let i = index" class="card-img-top img-fluid margenImagen" [src]="'assets/icons/amenities/'+hotel.amenities[i]+'.svg'"
                    width="20px" height="20px">
                </div>
                <div *ngIf="hotel._id">
                  <img *ngFor="let comodidad of hotel.amenities; let i = index" class="card-img-top img-fluid margenImagen" [src]="'http://165.227.92.20/api/amenitie/image/'+comodidad.image"
                    width="20px" height="20px">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 card mt-1">
          <div class="box">
            <div>
              <div class="card-body">
                <div class="margenDiv">
                  <label class="color-gris">Precio por noche por habitación</label>
                </div>
                <div class="ml-4">
                  <span class="naranja">ARS</span>
                  <span class="naranja-oscuro">{{hotel.price}}</span>

                </div>
                <div class="pull center margenArriba margenAbajo">
                  <button type="button" class="btn btn-primary btn-block">
                    Ver Hotel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>