body{
  padding-bottom: 50px;
}

.main-container{
  margin-top: 20px;
}

.img-logo{
    width: 120px;
}


.azul {
  color: #0275d8;
  font-weight: bold;
}

.color-negro{
  color: black;
  font-weight: bold;
}

.color-gris{
  color: slategrey;
  font-weight: bold;
  font-size: 15px;
}

.naranja {
  color:rgb(255, 115, 0);
}

.naranja-oscuro {
  color: rgb(255, 115, 0);
  font-weight: bold;
  font-size: 20px;
}

.margenDiv{
  margin: 30px; 
}

.margenImagen{
  margin: 10px; 
}

.margenArriba{
  margin-top: 20px; 
}

.margenAbajo{
  margin-bottom: 20px; 
}


/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
